<!DOCTYPE html>
<html>

<head>
  <title>Lisää kerhoon uusi purjelentokone</title>
</head>

<body>

  <h1> Muokkaa purjelentokoneen tietoja </h1>

  <form action="/update_item" method="post">
    <p>
      Konetyyppi: <br />
      <input type="text" name="glider_type" value="{{ item.glider_type }}"/>
    </p>

    <p>
      Rekisteritunnus: <br />
      <input type="text" name="callsign" size="8" value="{{ item.callsign }}" />
    </p>

    <p>
      Kilpailutunnus: <br />
      <input type="text" name="compsign" size="5" value="{{ item.compsign }}" />
    </p>    

    <p>
      Luokka: <br />
      <input type="radio" name="glider_class" value="Vakio" {% if item.glider_class == 'Vakio' %}checked{% endif %}/> Vakio
      <input type="radio" name="glider_class" value="15 m" {% if item.glider_class == '15 m' %}checked{% endif %} /> 15 m
      <input type="radio" name="glider_class" value="18 m" {% if item.glider_class == '18 m' %}checked{% endif %}/> 18 m
      <input type="radio" name="glider_class" value="Kaksipaikkainen" {% if item.glider_class == 'Kaksipaikkainen' %}checked{% endif %} /> Kaksipaikkainen
      <input type="radio" name="glider_class" value="Vintage" {% if item.glider_class == 'Vintage' %}checked{% endif %}/> Vintage
    </p>

    <p>
      Lisävalinnat:
      <input type="radio" name="options" value="Ei moottoria" {% if item.options == 'Ei moottoria' %}checked{% endif %} /> Ei moottoria
      <input type="radio" name="options" value="Turbo" {% if item.options == 'Turbo' %}checked{% endif %} /> Turbo
      <input type="radio" name="options" value="FES" {% if item.options == 'FES' %}checked{% endif %}/> FES
      <input type="radio" name="options" value="Suihkumoottori" {% if item.options == 'Suihkumoottori' %}checked{% endif %}/> Suihkumoottori
    </p>

    <input type="hidden" name="item_id" value="{{ item.id }}" />

    <input type="submit" value="Tallenna" />
  </form>
</body>

</html>
