<!DOCTYPE html>
<html>

<head>
  <title>Purjelentokerho</title>
</head>

<body>

  <h1> Purjelentokerho </h1>

  {% if session.username %}
  <p> Olet kirjautunut nimellä {{ session.username }}, ID-numero: {{ session.user_id }} </p>
  
  <p> <a href="/logout">Kirjaudu ulos</a> </p>
    
  {% else %}
  
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
  </p>

  {% endif %}
  
  <p> <a href="/new_item">Lisää purjelentokone</a>

  <h2>Kerhon purjelentokoneet:</h2>
  <ul>
    {% for item in items %}
      <li> <a href="/item/{{ item.id }}">{{ item.glider_type }}</a> - {{ item.callsign }} - {{ item.compsign }} - {{ item.glider_class }} - {{ item.options }}</li>
    {% endfor %}
  </ul>

</body>

</html>
